#KorvaiDetail {
  #korvai-content {
    font-family: "Crimson Text", serif;
    font-size: 16pt;
    line-height: 130%;

    span.modifier-bracket {
      font-family: arial;
      font-weight: 100;
      font-size: 20pt;
    }
  }
}